<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>도르마북 | 화상회의</title>
    <!-- Latest minified Bootstrap & JQuery-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/main.css"/>
</head>
<body class="text-center">

<header class="w3-container" style="padding: 0; height: 60px;">
    <div style="width:12%; height: 100%; border-right: solid 1px #d5dadb; border-bottom: solid 1px #d5dadb; float: left; text-align: center;">
        <h2 style="font-family: 'Noto Sans KR', sans-serif;">도르마북</h2>
    </div>

    <div style="width:88%; height: 100%; border-right: solid 1px #d5dadb; border-bottom: solid 1px #d5dadb; float: left; padding-left: 50px;">
        <h2 id="title" style="float:left;font-family: 'Noto Sans KR', sans-serif;">화상 회의</h2>
    </div>
</header>

<!-- Left SideBar-->
<div class="w3-sidebar w3-bar-block"
     style="width:12%; border-right: solid 1px #d5dadb; font-family: 'Noto Sans KR', sans-serif; padding-left: 10px">
    <a id="chat-btn" class="w3-bar-item w3-button">학습 채팅방</a>
    <a id="report-btn" class="w3-bar-item w3-button">보고서 관리</a>
    <a id="score-btn" class="w3-bar-item w3-button">성적 제출</a>
</div>

<!-- Right SideBar-->
<div class="w3-sidebar w3-bar-block w3-xxlarge"
     style="max-width:4%; min-width:60px; position:absolute; right:0; float:right; border-left: solid 1px #d2d2d2;">
    <a id="video-btn" class="w3-bar-item w3-button">
        <div style="content: url(https://user-images.githubusercontent.com/73810809/172592497-4a8a343d-00eb-4807-bd7e-1f6192bfe259.png); height: 3rem"></div>
    </a>
</div>

<!-- Begin page content -->
<main role="main" class="container">
    <h1>DormaBook Video-Chat List</h1>
    <div id="container">

        <form th:method="post" th:action="@{/room}" th:object="${id}" id="form">
            <input type="hidden" id="uuid" name="uuid" th:value="${uuid}"/>
            <div class="row justify-content-md-center">
                <div class="input-group col-md-6 mb-3 justify-content-md-center">
                    <div class="mb-3" th:if="${not #lists.isEmpty(rooms)}" th:attr="data-uid=${uuid}">
                        <label for="rooms-list">개설된 방을 선택하세요:</label><br>
                        <h4>
                        <span id="rooms-list" th:each="r : ${rooms}">
                            <a th:href="@{/room/{id}(id=${r.id})}" th:id="'button-link-'+${r.id}">
                                <button type="button" name="action" th:text="${r.id}" th:value="${r.id}"
                                        class="btn badge badge-primary" onclick="addUuidToButtonLink(this);">999
                                </button>
                            </a>
                        </span>
                        </h4>
                    </div>
                    <div class="mb-3">
                        <label for="id">'Random #' 버튼 또는 직접 방 번호를 입력 후 방 생성 버튼을 누르세요
                            .</label>
                        <input class="form-control" name="id" id="id" type="number" placeholder="Min: 0, max: 1000"
                               min="0" max="1000" th:value="${id}" required>
                    </div>
                    <div>
                        <a th:href="@{/room/random}">
                            <button class="btn btn-outline-success" type="button">Random #</button>
                        </a>
                        <button name="action" value="create" type="submit" class="btn btn-outline-primary">
                            방 생성</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</main>

<!--generates unique user identifier stored at 'uuid' input field to pass it to the back-side-->
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
<script src="/js/main.js"></script>
</body>
</html>
